<extend name="Layout/index" />
<block name="content-header">
	<h1>
 	   节点管理
		<small>节点修改</small>
	</h1>
</block>
<block name="content">
<div class="col-sm-5 col-sm-offset-3">
  <form class="form-horizontal" role="form" action='<{:U('Node/save')}>' method='post'>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">节点名</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputEmail3" placeholder="节点名" name='name' value=<{$vo.name}>>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-3 control-label">控制器</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputPassword3" placeholder="控制器" name='mname' value=<{$vo.mname}>>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-3 control-label">操作</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputPassword3" placeholder="操作" name='aname' value=<{$vo.aname}>>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <div class="radio">
          <label>
            <input type="radio" name="status" id="optionsRadios1" value="1"  <if condition="$vo.status eq 1">checked</if>>
            启用
          </label>
          <label>
            <input type="radio" name="status" id="optionsRadios2" value="0" <if condition="$vo.status eq 0">checked</if>>
            禁用
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
      	<input type="hidden" name="id" value="<{$vo.id}>">
        <button type="submit" class="btn btn-default">修改</button>
      </div>
    </div>
  </form>
</div>
</block>